@font-face {
  font-display: swap;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/press-start-2p-v14-latin/press-start-2p-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/press-start-2p-v14-latin/press-start-2p-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/press-start-2p-v14-latin/press-start-2p-v14-latin-regular.woff2")
      format("woff2"),
    url("assets/fonts/press-start-2p-v14-latin/press-start-2p-v14-latin-regular.woff")
      format("woff"),
    url("assets/fonts/press-start-2p-v14-latin/press-start-2p-v14-latin-regular.ttf")
      format("truetype"),
    url("assets/fonts/press-start-2p-v14-latin/press-start-2p-v14-latin-regular.svg#PressStart2P")
      format("svg");
}
body {
  font-family: "Press Start 2P";
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
