@import "variables";

$cardContainerPadding: 0 0;
$cardFlex: 1 1 calc(100% / 14);
$minWidth: 60px;
$cardHeight: $minWidth * 1.5;

body,
#root,
.App {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}
.Body {
  margin-top: 60px;
  height: 100%;
  width: 100%;
  position: relative;
}
.BodyMain {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.CardSetWrap {
  flex: 0 0 150px;
  position: relative;
}
.CardSet {
  position: absolute;
  top: 0;
  left: 0;
  width: 11%;
  min-width: $minWidth;
  max-width: 300px;
  height: $cardHeight;
  padding: $cardContainerPadding;
  gap: $gap;
}

.PlaySetWrap {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: $gap;
}
.PlaySet {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}
.PlayCard {
  position: absolute;
  top: 0;
  left: 0;
  min-width: $minWidth;
  max-width: 300px;
  height: $cardHeight;
  padding: $cardContainerPadding;
  gap: $gap;
}

@for $i from 1 through 100 {
  .CardNo_#{$i} {
    top: $i * 5px;
  }
}

.CardContainer {
  position: inherit;
  width: 100%;
  height: 100%;
}
.Card {
  position: relative;
  height: inherit;
  width: inherit;
  border-radius: $borderRadius;
  background: #f0f0f0;
  border: 1px solid #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .Icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    &.Top {
      top: 0;
      left: 0;
      margin: 5px;
    }
    &.Bottom {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
  .Background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  &.face-down > * {
    visibility: hidden;
  }
  &.face-up {
    background-image: none !important;
  }
}

.Menu {
  display: flex;
}

.Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 9999;

  &.invisible {
    display: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuModal {
  width: 200px;
  height: 200px;
  background: #fff;

  display: flex;
  flex-direction: column;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .LevelWrapper {
    .active {
      color: red;
    }
  }
  .ImgWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: $gap;
    .active {
      border: 2px solid red;
    }
    .Img {
      flex-basis: 300px;
      display: flex;
      cursor: pointer;
      img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-radius: $borderRadius;
      }
    }
  }
}
