@import "variables";

$headerHeight: 60px;
$footerHeight: 60px;
$cardWidth: calc(100vw / 15);
$cardHeight: calc(#{$cardWidth} * 1.5);

html {
  height: 100%;
  box-sizing: border-box;
}

body,
#root,
.App {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

header {
  background-color: beige;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $headerHeight;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer {
  background-color: rgb(245, 220, 228);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footerHeight;
  z-index: 98;
  padding: 0 20px;
}

section {
  background-color: antiquewhite;
  position: relative;
  height: inherit;
  padding-top: $headerHeight + 20;
  padding-bottom: $footerHeight + 20;
  padding-left: 20px;
  padding-right: 20px;
  &.Body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20px;
  }
}

article.CardSetWrap {
  display: flex;
  flex: 1 1 0;
  position: relative;
}
.CardSet {
  background-color: rgb(151, 172, 172);
  position: absolute;
  top: 0;
  left: 0;
  width: $cardWidth;
  max-width: 300px;
  height: $cardHeight;
  padding: 0 0;
  gap: $gap;
}

article.PlaySetWrap {
  background-color: rgb(204, 193, 221);
  display: flex;
  flex: 10 1 0;
  flex-wrap: nowrap;
  justify-content: center;
  gap: $gap;
}
.PlaySet {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}
.PlayCard {
  position: absolute;
  top: 0;
  left: 0;
  width: $cardWidth;
  max-width: 300px;
  height: $cardHeight;
  padding: 0 0;
  gap: $gap;
}

@for $i from 1 through 100 {
  .CardNo_#{$i} {
    top: $i * 5px;
  }
}

.CardContainer {
  position: inherit;
  width: 100%;
  height: 100%;
}
.Card {
  position: relative;
  height: inherit;
  width: inherit;
  border-radius: $borderRadius;
  background: #f0f0f0;
  border: 1px solid #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 0.5vw;
  svg {
    width: 2vw;
    height: 2vw;
  }
  .Icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    &.Top {
      top: 0;
      left: 0;
      margin: 5px;
    }
    &.Bottom {
      bottom: 0;
      right: 0;
      transform: rotate(180deg);
    }
  }
  .Background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  &.face-down > * {
    visibility: hidden;
  }
  &.face-up {
    background-image: none !important;
  }
}

.Menu {
  display: flex;
}

.Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 9999;

  &.invisible {
    display: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuModal {
  width: 200px;
  height: 200px;
  background: #fff;

  display: flex;
  flex-direction: column;
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .LevelWrapper {
    .active {
      color: red;
    }
  }
  .ImgWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: $gap;
    .active {
      border: 2px solid red;
    }
    .Img {
      flex-basis: 300px;
      display: flex;
      cursor: pointer;
      img {
        object-fit: cover;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-radius: $borderRadius;
      }
    }
  }
}
